.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: lightseagreen;
}
.nav-right {
  text-align: right;
  padding: 5px;
}

.footer {
  color: white;
  padding: 5px;
  margin: 0px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightseagreen;
}

.signup {
  margin-left: 750px;
  text-align: center;
  display: inline-block;
  width: 25%;
}
.signup-form {
  margin-top: 100px;
}

.category-ul {
  display: inline-block;
  padding: 10px;
}

.avtarimg {
  border-radius: 50%;
  float: right;
  height: 150px;
  width: 150px;

}

.allcat{
  text-align: center;
  margin-top: 55px;
  /* padding-top: 25px; */
}
.parent-container{
  margin-bottom: 55px;
}